.body{
    background-image: url('images/1.jpg');
    
}
.navbar{
    background-color: brown;
    color:green;
}
.footer{
    background-color: darkgreen;
}
.btnx{
    background-color: red;
    color: white;
}
.btnh{
    background-color: blue;
    color: whitesmoke;
}
.btnm{
    background-color: aliceblue;
    color: black;
}
.buttonb{
    position: relative;
    
    text-align: right;
    border: 0;
}
.header{
    background-color: green;

}
.header{
    color: aliceblue;
    text-align: center;
}
.buttona{
    text-align: center;
    border: 0;
    padding-top: 2%;
}
.change{
    padding-top:2%;
}
.changed{
    padding-top: 6%;
}
#background-video { display:flex;
position: relative;
padding-left: 6%; }
    body {
      background: url("images/c.mp4") repeat;
      background-size: cover;
    }
label{
    color: aliceblue;
}
